*{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

.header h1{
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 900;
	color: black;
	display: flex;
	justify-content: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Links a{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 900;
}

ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: orange;
}


li{
  float: left;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: orange;
}

.button{
	background-color: #ffa500;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}